In [1]:
import pandas as pd
df = pd.read_csv('HR.csv')

In [3]:
df

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
5,0.41,0.50,2,153,3,0,1,0,sales,low
6,0.10,0.77,6,247,4,0,1,0,sales,low
7,0.92,0.85,5,259,5,0,1,0,sales,low
8,0.89,1.00,5,224,5,0,1,0,sales,low
9,0.42,0.53,2,142,3,0,1,0,sales,low
10,0.45,0.54,2,135,3,0,1,0,sales,low
11,0.11,0.81,6,305,4,0,1,0,sales,low
12,0.84,0.92,4,234,5,0,1,0,sales,low
13,0.41,0.55,2,148,3,0,1,0,sales,low
14,0.36,0.56,2,137,3,0,1,0,sales,low
15,0.38,0.54,2,143,3,0,1,0,sales,low
16,0.45,0.47,2,160,3,0,1,0,sales,low
17,0.78,0.99,4,255,6,0,1,0,sales,low
18,0.45,0.51,2,160,3,1,1,1,sales,low
19,0.76,0.89,5,262,5,0,1,0,sales,low
20,0.11,0.83,6,282,4,0,1,0,sales,low
21,0.38,0.55,2,147,3,0,1,0,sales,low
22,0.09,0.95,6,304,4,0,1,0,sales,low
23,0.46,0.57,2,139,3,0,1,0,sales,low
24,0.40,0.53,2,158,3,0,1,0,sales,low
25,0.89,0.92,5,242,5,0,1,0,sales,low
26,0.82,0.87,4,239,5,0,1,0,sales,low
27,0.40,0.49,2,135,3,0,1,0,sales,low
28,0.41,0.46,2,128,3,0,1,0,accounting,low
29,0.38,0.50,2,132,3,0,1,0,accounting,low
...,...,...,...,...,...,...,...,...,...,...
14972,0.11,0.97,6,310,4,0,1,0,accounting,medium
14973,0.36,0.52,2,143,3,0,1,0,accounting,medium
14974,0.36,0.54,2,153,3,0,1,0,accounting,medium
14975,0.10,0.79,7,310,4,0,1,0,hr,medium
14976,0.40,0.47,2,136,3,0,1,0,hr,medium
14977,0.81,0.85,4,251,6,0,1,0,hr,medium
14978,0.40,0.47,2,144,3,0,1,0,hr,medium
14979,0.09,0.93,6,296,4,0,1,0,technical,medium
14980,0.76,0.89,5,238,5,0,1,0,technical,high
14981,0.73,0.93,5,162,4,0,1,0,technical,low
14982,0.38,0.49,2,137,3,0,1,0,technical,medium
14983,0.72,0.84,5,257,5,0,1,0,technical,medium
14984,0.40,0.56,2,148,3,0,1,0,technical,medium
14985,0.91,0.99,5,254,5,0,1,0,technical,medium
14986,0.85,0.85,4,247,6,0,1,0,technical,low
14987,0.90,0.70,5,206,4,0,1,0,technical,low
14988,0.46,0.55,2,145,3,0,1,0,technical,low
14989,0.43,0.57,2,159,3,1,1,0,technical,low
14990,0.89,0.88,5,228,5,1,1,0,support,low
14991,0.09,0.81,6,257,4,0,1,0,support,low
14992,0.40,0.48,2,155,3,0,1,0,support,low
14993,0.76,0.83,6,293,6,0,1,0,support,low
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low
14999,NaN,0.52,2,158,3,0,1,0,support,low
15000,NaN,999999.00,2,158,3,0,1,0,sale,low
15001,0.70,0.40,2,158,2,0,1,0,sale,nme

In [5]:
df.columns

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_monthly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'department', 'salary'],
      dtype='object')

In [2]:
df['average_monthly_hours'].skew()

0.05322458779916304

In [8]:
df['satisfaction_level'].skew()

-0.47643761717258093

In [3]:
df['average_monthly_hours'].kurt()

-1.1350158577565719

In [9]:
df.kurt()

satisfaction_level          -0.670696
last_evaluation          15001.999987
number_project              -0.495810
average_monthly_hours       -1.135016
time_spend_company           4.774353
Work_accident                2.086664
left                        -0.489485
promotion_last_5years       42.064357
dtype: float64

In [4]:
import scipy.stats as ss

In [11]:
ss.norm

In [19]:
ss.chi2.ppf(0.95,7)

14.067140449340169

In [20]:
ss.f.ppf(0.95,1,5)

6.607890973703367

In [22]:
ss.f.mean(1,5)

1.6666666666666667

In [12]:
ss.norm.stats(moments='mvsk')

(array(0.), array(1.), array(0.), array(0.))

In [12]:
ss.norm.pdf(-1)

0.24197072451914337

In [16]:
ss.norm.ppf(0.954)

1.6849407678719144

In [20]:
ss.norm.cdf(1)

0.8413447460685429

In [25]:
ss.t.cdf(1,30)-ss.t.cdf(-1,30)

0.6746913845739702

In [23]:
ss.norm.cdf(1)-ss.norm.cdf(-1)

0.6826894921370859

In [17]:
ss.f.rvs(size=20)

TypeError: _parse_args_rvs() missing 2 required positional arguments: 'dfn' and 'dfd'

In [24]:
ss.norm.rvs(size=20)

array([-0.50968044,  0.41993264, -1.09060225,  0.29391434,  0.60316118,
       -0.47019996, -0.3322165 ,  0.04453861, -0.26611957, -1.33015455,
       -0.24061339,  1.19727236, -0.06048377, -0.38934001,  0.16165304,
        1.02565712,  0.59893349, -0.01307608,  0.8857917 , -0.03595033])

In [25]:
ss.chi2

In [26]:
ss.t

In [27]:
ss.f

In [28]:
df.sample(10)

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
231,0.92,0.99,5,255,6,0,1,0,sales,low
8155,0.75,0.81,3,214,3,0,0,0,IT,low
11589,0.78,0.80,3,135,7,0,0,0,sales,medium
14549,0.39,0.50,2,142,3,0,1,0,hr,medium
1805,0.10,0.87,6,254,5,0,1,0,support,low
13362,0.54,0.95,4,256,3,0,0,0,support,low
11234,0.99,0.94,4,167,4,0,0,0,support,low
7992,0.67,0.72,4,192,3,1,0,0,support,medium
925,0.11,0.80,7,243,4,0,1,0,sales,medium
6808,0.72,0.99,4,156,2,1,0,0,sales,low

In [32]:
df.sample(frac=0.001)

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
2975,0.95,0.61,3,267,2,0,0,0,RandD,low
6610,0.86,0.99,3,254,2,0,0,0,support,medium
1775,0.09,0.93,6,273,5,0,1,0,sales,low
414,0.91,0.97,5,233,5,0,1,0,hr,medium
13126,0.98,0.67,4,209,6,0,0,0,marketing,low
9452,0.49,0.95,2,181,4,1,0,0,IT,low
10174,1.00,0.58,3,112,2,0,0,0,sales,high
14352,0.45,0.53,2,155,3,0,1,0,IT,low
11013,0.51,0.80,4,198,6,0,0,0,marketing,medium
10439,0.23,0.64,3,228,4,1,0,0,technical,medium
1897,0.10,0.94,7,264,4,0,1,0,IT,medium
2514,0.70,0.63,3,155,4,1,0,0,RandD,low
8616,0.99,0.48,3,104,3,0,0,0,product_mng,medium
7880,0.83,0.55,5,250,3,1,0,0,sales,medium
13952,0.72,0.59,5,200,8,1,0,0,sales,low

In [26]:
len(df)

15002

In [33]:
df['satisfaction_level'].sample(10)

10419    0.63
2297     0.98
14849    0.84
3577     0.49
3091     0.49
1105     0.37
4937     0.56
8512     0.55
406      0.73
11239    0.82
Name: satisfaction_level, dtype: float64